<tr>
  <td class="align-middle d-flex align-items-center">
    <%= octicon 'smiley', class: 'text-success' %>
    <p class="pl-2"><%= own_badge.badge.title %></p>
  </td>
  <td class="align-middle"><%= own_badge.badge.archived_for %></td>
</tr>
