<tr>
  <td class="align-middle d-flex align-items-center">
    <%= octicon 'smiley', class: 'text-success' %>
    <p class="pl-2"><%= badge.title %></p>
  </td>
  <td class="align-middle"><%= badge.achieved_for %></td>
</tr>
