<footer>
  <p><%= current_year %></p>
  <p><%= github_url 'Areukiddin github', 'https://github.com/Areukiddin' %></p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: '_blank' %></p>
 </footer>
