<header class='header'>
  <p class='title'><%= link_to 'TestGuru', root_path %></p>
  <p class="user-badges-nav"><%= link_to 'Badges', badges_path %></p>
  <p class='menu'><%= header_menu(current_user) %>
  <% if user_signed_in? %>
  <span class='logout'>
    <%= link_to 'Log out',
              destroy_user_session_path,
              method: :delete %>
  </span>
  <% end %>
  </p>
</header>
