<br/>
<p><%= @question.body %></p>
<br/>
<ol>
<%= render @question.answers %>
</ol>

<%= link_to '+ Add answer', new_admin_question_answer_path(@question) %>
<br/>
<%= link_to '<- Back', admin_test_path(@question.test) %>
