.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
}

.flash.alert {
  border-color: #ef2727;
}

.flash.notice {
  border-color: #3c85e0;
}

input#user_password_confirmation {
  position: relative;
}

.circle-row {
  position: absolute;
  right: 45%;
  bottom: 26%;
}

.check-circle {
  color: green;
}

.x-circle {
  color: red;
}
