.user-badges-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: 223px;
}

.admin-badges-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: 275px;
}
