.test-success {
  color: green;
}

.test-fail {
  color: red;
}

.custom-progress-bar {
  height: 10px;
  width: 500px;
  border: 1px solid #000;
  margin: 0 auto;
}

.green-bar {
  background: #00ff00;
  height: 8px;
}
